<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>数据共享平台</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css"/>
    <link rel="stylesheet" href="/element-ui/lib/theme-chalk/index.css"/>
    <link rel="icon" href="/img/favicon.ico"/>
    <script src="/js/jquery/jquery.js"></script>
    <script src="/js/vue/vue.min.js"></script>
    <script src="/element-ui/lib/index.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/utils/jwt_utils.js"></script>
    <script src="/js/components/top_column.js"></script>
</head>
<body>

</body>
</html>