<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.godder.datamodule.infrastructure.mapper.DataFileMapper">
  <resultMap id="BaseResultMap" type="top.godder.datamoduleapi.domain.entity.DataFile">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="file_id" jdbcType="BIGINT" property="fileId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
  </resultMap>
  <select id="findByFiledId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select * from file where file_id = #{fileId}
  </select>
  <select id="findByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select * from file where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <select id="findByFieldId" parameterType="long" resultMap="BaseResultMap">
    select * from file where (select file_id from file_field where field_id = #{fieldId,jdbcType=BIGINT} ) = file_id
  </select>
  <select id="findAll" resultMap="BaseResultMap">
    select * from file
  </select>
  <select id="findByFileName" parameterType="string" resultMap="BaseResultMap">
    select * from file where file_name = #{fileName,jdbcType=VARCHAR}
  </select>
  <select id="countUserId" parameterType="long" resultType="integer">
    select count(*) from file where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <select id="countFileId" parameterType="long" resultType="integer">
    select count(*) from file_field where field_id = #{fieldId,jdbcType=BIGINT}
  </select>
  <insert id="insertOne" parameterType="top.godder.datamoduleapi.domain.entity.DataFile" useGeneratedKeys="true" keyProperty="fileId">
    insert into file (user_id, file_name, introduction)
    VALUES (#{user_id}, #{file_name}, #{introduction})
  </insert>
  <delete id="deleteByFileId" parameterType="long">
    delete from file where file_id = #{fileId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByUserId" parameterType="long">
    delete from file where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByFieldId" parameterType="long">
    delete from file where (select file_id from file_field where field_id = #{fieldId,jdbcType=BIGINT} ) = file_id
  </delete>
    <select id="findByReq" parameterType="top.godder.datamoduleapi.domain.vo.DataFileReq" resultMap="BaseResultMap">
    select * from file
      <where>
        <if test="fieldId != null">
          file_id = #{fieldId,jdbcType=BIGINT} and
        </if>
       <if test="fileName != null and fileName != ''">
         file_name = #{fileName,jdbcType=VARCHAR} and
       </if>
        <if test="userId != null">
          user_id = #{userId,jdbcType=BIGINT}
        </if>
      </where>
    </select>

    <select id="findByUserBuy" resultMap="BaseResultMap" parameterType="long">
      select * from file where (select file_id from user_buy_file where file.user_id = #{userId,jdbcType=BIGINT} order by buy_time) = file_id
    </select>
  <select id="buyFile" resultType="boolean" parameterType="map">
    select count(*) from user_buy_file where user_id = #{userId,jdbcType=BIGINT} and file_id = #{fileId,jdbcType=BIGINT}
  </select>
  <select id="findCreditByFileId" parameterType="long" resultType="java.lang.Integer">
    select credit from file_credit where fileId = #{fileId,jdbcType=BIGINT}
  </select>
  <insert id="userBuy" parameterType="map">
    insert into user_buy_file (file_id, user_id) values (#{fileId,jdbcType=BIGINT} ,#{userId,jdbcType=BIGINT} )
  </insert>

</mapper>