<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.godder.dataservice.mapper.FileCommentMapper">
  <resultMap id="BaseResultMap" type="top.godder.dataapi.entry.FileComment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="file_comment_id" jdbcType="BIGINT" property="fileCommentId" />
    <result column="file_id" jdbcType="BIGINT" property="fileId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="comment_date" jdbcType="TIMESTAMP" property="commentDate" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="comment_level" jdbcType="INTEGER" property="commentLevel" />
  </resultMap>
</mapper>