<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.godder.datamodule.infrastructure.mapper.QuestionMapper">
  <resultMap id="BaseResultMap" type="top.godder.datamoduleapi.domain.entity.Question">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="question_id" jdbcType="BIGINT" property="questionId" />
    <result column="question_name" jdbcType="VARCHAR" property="questionName" />
    <result column="question_description" jdbcType="VARCHAR" property="questionDescription" />
    <result column="question_credit" jdbcType="INTEGER" property="questionCredit" />
    <result column="quiz_user" jdbcType="BIGINT" property="quizUser" />
  </resultMap>
  <select id="findByQuestionId" parameterType="long" resultMap="BaseResultMap">
    select * from question where question_id = #{questionId,jdbcType=BIGINT}
  </select>
  <select id="findByQuizUser" parameterType="long" resultMap="BaseResultMap">
    select * from question where quiz_user = #{userId,jdbcType=BIGINT}
  </select>
  <select id="countQuizUser" parameterType="long" resultType="int">
    select count(*) from question where quiz_user = #{userId,jdbcType=BIGINT}
  </select>
  <insert id="insertOne" parameterType="top.godder.datamoduleapi.domain.entity.Question" useGeneratedKeys="true" keyProperty="questionId">
    insert into question (question_name, question_description, question_credit, quiz_user)
    VALUES (#{questionName,jdbcType=VARCHAR} ,#{questionDescription,jdbcType=VARCHAR} ,#{questionCredit,jdbcType=INTEGER} ,#{quizUser})
  </insert>
  <update id="updateDescription" parameterType="map">
    update question set question_description = #{description,jdbcType=VARCHAR} where question_id = #{questionId,jdbcType=BIGINT}
  </update>
  <delete id="deleteByQuestionId" parameterType="long">
    delete from question where question_id = #{questionId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByQuizUser" parameterType="long">
    delete from question where quiz_user = #{userId,jdbcType=BIGINT}
  </delete>
</mapper>