<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.godder.datamodule.infrastructure.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="top.godder.datamoduleapi.domain.entity.Role">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
    <result column="comment" jdbcType="VARCHAR" property="comment"/>
  </resultMap>
  <select id="findOne" parameterType="long" resultMap="BaseResultMap">
    select * from role where role_id = #{roleId,jdbcType=BIGINT}
  </select>
  <select id="findAll" resultMap="BaseResultMap">
    select * from role
  </select>
  <select id="findByUserId" parameterType="long" resultMap="BaseResultMap">
    select * from role where (select role_id from role_user where user_id = #{userId,jdbcType=BIGINT} ) = role_id
  </select>
  <insert id="insertOne" parameterType="top.godder.datamoduleapi.domain.entity.Role" useGeneratedKeys="true" keyProperty="roleId">
    insert into role (role_name, comment) values (#{roleName} ,#{comment,jdbcType=VARCHAR} )
  </insert>
  <insert id="insertUserRole" parameterType="map" >
    insert into role_user (user_id, role_id) VALUES (#{userId,jdbcType=BIGINT} ,#{roleId,jdbcType=BIGINT} )
  </insert>
  <delete id="deleteOne" parameterType="long">
    delete from role where role_id = #{roleId,jdbcType=BIGINT}
  </delete>
</mapper>