<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.godder.datamodule.infrastructure.mapper.UserLocalInfoMapper">
  <resultMap id="BaseResultMap" type="top.godder.datamoduleapi.domain.entity.UserLocalInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="credit" jdbcType="INTEGER" property="credit" />
  </resultMap>
  <select id="findOne" parameterType="long" resultMap="BaseResultMap">
    select * from user_local_info where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <insert id="insertOne" parameterType="top.godder.datamoduleapi.domain.entity.UserLocalInfo">
    insert into user_local_info (user_id, name, credit)
    VALUES (#{userId,jdbcType=BIGINT} ,#{name,jdbcType=VARCHAR} ,#{credit,jdbcType=INTEGER} )
  </insert>
  <update id="updateCredit" parameterType="map">
    update user_local_info
    set credit = #{credit,jdbcType=INTEGER}
    where user_id = #{credit,jdbcType=INTEGER}
  </update>
  <update id="updateName" parameterType="map">
    update user_local_info
    set name = #{name,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <delete id="deleteOne" parameterType="long">
    delete from user_local_info where user_id = #{userId,jdbcType=BIGINT}
  </delete>
</mapper>